.sb-topology-editor-container
  display: flex
  flex-direction: column
  background-color: var(--surface-raised)
  border-radius: 12px
  height: 100%
  overflow: hidden
  flex-grow: 1
  transition: opacity 0.08s ease-in

.sb-editor-graph,.sb-topology-editor-splitter-gutter
  transition: opacity 0.08s ease-in

.sb-topology-editor-toolbar
  display: flex
  flex-direction: row
  align-items: center
  padding: 0 8px
  gap: 8px
  height: 60px
  border-bottom: 1px solid var(--border)

  .sb-topology-editor-toolbar-subtitle
    margin-left: 8px
    margin-right: 0.5ch
    color: var(--text-muted)
    font-size: 17px

  .sb-topology-editor-toolbar-title
    color: var(--text)
    font-size: 17px

  .sb-editor-toolbar-separator
    flex: 0 0 auto
    width: 1px
    height: 20px
    background-color: var(--border)
    margin: 0 12px

  .sb-editor-view-switch
    margin: auto

  .sb-topology-editor-deploy-button
    height: 40px
    padding: 4px 16px

    .pi
      color: var(--success-color-text)

  .p-button.p-button-icon-only
    width: 42px
    height: 42px

  // This makes it so the node editor menu can hide between the topbar
  z-index: 2

.sb-topology-editor-content
  flex-grow: 1
  min-height: 0

  &.view-code
    .sb-editor-graph, .p-splitter-gutter
      display: none

    .sb-editor-monaco
      flex-basis: 100% !important

  // Graph only, the same the other way round
  &.view-graph
    .sb-editor-monaco, .p-splitter-gutter
      display: none

    .sb-editor-graph
      flex-basis: 100% !important

  .p-splitter
    height: 100%

  .p-splitter-gutter
    background-color: var(--surface-sunken) !important
    width: 4px !important

  .p-splitter-gutter-handle
    height: 40px
    background-color: var(--surface-overlay) !important

  .sb-editor-monaco
    background-color: var(--surface-sunken)

  .sb-editor-graph
    background-color: var(--surface-sunken)

.sb-topology-editor-footer
  display: flex
  flex-direction: row
  align-items: center
  padding: 0 16px
  border-top: 1px solid var(--border)
  height: 40px
  gap: 16px
  color: var(--text-muted)

  .sb-topology-editor-footer-position
    flex-grow: 1

  i
    font-size: 14px
    margin-right: 8px

.sb-toplogy-editor-validation
  overflow: hidden
  word-wrap: break-word
  user-select: none

.sb-node-speed-dial
  position: absolute

.sb-topology-editor-empty
  width: 100%
  height: 100%
  align-items: center
  justify-content: center
  gap: 32px
  display: flex
  flex-direction: column
  opacity: 0.3
  font-style: italic
  font-size: 22px
  box-shadow: none !important

  img
    filter: invert(1)
