.sb-dialog-header
  background-color: var(--header-color)
  border: var(--primary-color-border) solid 1px
  height: 60px
  border-radius: 6px
  margin: -1px
  display: flex
  align-items: center
  justify-content: space-between
  font-size: 26px
  font-weight: 700

.sb-dialog-heading
  font-weight: 500
  font-size: 24px
  margin-bottom: 12px

.sb-dialog-header-title
  margin-left: 12px
  display: flex
  align-items: center
  gap: 12px

.sb-dialog-header-close
  margin-right: -1px
  margin-bottom: 2px
  border-radius: 4px
  border: var(--primary-color-border) solid 1px

  button
    height: 60px
    width: 60px
    border: none

.sb-dialog-content
  padding: 16px
  margin-top: 1px
  flex-grow: 1
  overflow-y: auto
  background-color: var(--overlay-color)

.sb-dialog-footer
  background-color: var(--overlay-color)
  display: flex
  justify-content: space-between
  border-radius: 6px
  gap: 16px
  padding: 16px

  .p-button
    margin: -1px
