.sb-dialog-header
  height: 50px
  border-radius: 12px 12px 0 0
  display: flex
  align-items: center
  justify-content: space-between
  font-size: 21px
  background-color: var(--dialog-color)
  border-bottom: 2px solid var(--border-color)

  .sb-dialog-subtitle
    font-size: 16px
    color: var(--primary-color-text-darker)

    &::before
      content: ""
      border-radius: 50%
      width: 0.3ch
      height: 0.3ch
      display: inline-block
      margin-right: 0.7ch
      background: var(--primary-color-text-darker)
      vertical-align: middle

.sb-dialog-heading
  font-weight: 500
  font-size: 24px
  margin-bottom: 12px

.sb-dialog-header-title
  font-weight: 400
  user-select: none
  margin-left: 12px
  display: flex
  align-items: center
  gap: 8px

.sb-dialog-header-close
  button
    height: 50px
    width: 50px
    border: none

    &:hover
      background-color: unset !important

.sb-dialog-content
  padding: 16px
  //margin-top: 1px
  flex-grow: 1
  overflow-y: auto
  background-color: var(--dialog-color)

.sb-dialog-footer
  display: flex
  justify-content: end
  gap: 16px
  padding: 16px
  background-color: var(--dialog-color)
  border-top: 2px solid var(--border-color)
  border-radius: 0 0 12px 12px

  .p-button
    margin: -1px
