.sb-monaco-wrapper
  margin-top: 4px
  position: relative
  height: 100%

.sb-monaco-wrapper-readonly
  height: 40px
  background-color: var(--warning-color)
  vertical-align: center
  display: flex
  align-items: center
  padding: 8px
  border-radius: 0 0 4px 4px

.sb-monaco-wrapper-unsuccessful
  height: 40px
  background-color: var(--warning-color)
  vertical-align: center
  display: flex
  align-items: center
  padding: 8px
  border-radius: 0 0 4px 4px
