:root
  //--primary-color: #00E08F
  //--primary-color-text: #063339
  //--inverted-color-text: #bae1e6
  --primary-color: #141f29
  --secondary-color: #1b3154
  --primary-color-border: #609e9f
  //--primary-color-border: #283239
  --primary-color-text: #c6cbcb
  --primary-color-brighter: hsl(from var(--primary-color) h s calc(l + 5))
  --primary-color-brightest: hsl(from var(--primary-color) h s calc(l + 8))

  --overlay-color: #1a2730
  --overlay-color-darker: #162129
  --header-color: #303b43

  --danger-color: #974042
  --danger-color-text: #f64d54
  --warning-color: #9a5e34
  --warning-color-text: #f89444
  --success-color: #497e3b
  --success-color-text: #77df58
  --info-color: #374a9f
  --info-color-text: #7b95fb
  --neutral-color: #7e8b8e
  --neutral-color-text: #c2dde1
  --inverted-color-text: #c8d7da
