.sb-dock
  background-color: var(--secondary-color)
  padding-right: 16px
  height: 60px
  margin-bottom: 8px

  .sb-dock-title
    font-size: 32px
    font-weight: 600

  .p-badge
    font-size: 10pt

  .p-button
    padding: 8px !important

  .p-button-icon-only
    width: 40px

  .sb-dock-page-button
    width: 180px

    &:hover
      background-color: unset !important
      border-color: var(--primary-color-border)

    &.selected
      background-color: var(--primary-color)

      &:hover
        background-color: var(--primary-color) !important

  .material-symbols-outlined
    font-size: 20px

  .sb-dock-logout
    font-size: 1.25rem

.sb-logo-tab
  align-self: stretch
  width: 60px
  background-color: var(--header-color)
  border-radius: 6px 0 0 6px
  display: flex
  justify-content: center
  align-items: center
  cursor: pointer

  color: var(--inverted-color-text)
