.sb-topology-graph
  position: absolute
  inset: 0

  .grid-canvas
    position: absolute
    width: 100%
    height: 100%
    z-index: 0
    pointer-events: none

  .cytoscape-container
    position: absolute
    width: 100%
    height: 100%
    z-index: 1
