.sb-editor
  width: 100%
  display: flex

  .sb-editor-setup-container
    flex-grow: 1

  .p-splitter-panel
    overflow: hidden

  .p-splitter-gutter
    background-color: var(--surface-page) !important
    width: 8px !important

    .p-splitter-gutter-handle
      background-color: var(--surface-page)
