.sb-editor
  width: 100%
  display: flex
  contain: size

  > .p-splitter > .p-splitter-panel:first-child
    min-width: 350px

  .sb-editor-setup-container
    flex-grow: 1

  .p-splitter-gutter
    background-color: var(--surface-page) !important
    width: 8px !important

    .p-splitter-gutter-handle
      background-color: var(--surface-page)
